/RTEmergencyChute/bin/Release/KSP.log
/RTEmergencyChute/bin/Release/Mono.Cecil.dll
/RTEmergencyChute/bin/Release/Mono.Security.dll
/RTEmergencyChute/bin/Release/PartDatabase.cfg
/RTEmergencyChute/bin/Release/Physics.cfg
/RTEmergencyChute/bin/Release/RTEmergencyChute.pdb
/RTEmergencyChute/bin/Release/TDx.TDxInput.dll
/RTEmergencyChute/bin/Release/TrackIRUnity.dll
/RTEmergencyChute/bin/Release/Assembly-CSharp-firstpass.dll
/RTEmergencyChute/bin/Debug
/RTEmergencyChute/obj
